@{
    ViewData["Title"] = "Home Page";
}
@model Product
<div class="text-center">
    <h1 class="display-4">Products|<a href="/categories">Categories</a></h1>
    <div class="row">
        <div class="col-6">
            <h2>New Product</h2>
            <form action="/addProduct" method="post">
                <div class="form-group">
                    <label for="Name">Name:</label>
                    <input asp-for="Name">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="form-group">
                    <label for="Description">Description:</label>
                    <input asp-for="Description">
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label for="Price">Price:</label>
                    <input asp-for="Price">
                    <span asp-validation-for="Price"></span>
                </div>
                <input type="submit" value="Create">
            </form>
        </div>
        <div class="col-6">
            <h2>Existing Products</h2>
            @foreach (Product p in ViewBag.allProducts)
            {
                <p><a href="/products/@p.ProductId">@p.Name</a></p>
            }
        </div>
    </div>
</div>